<nav class="navbar navbar-expand-lg bg-dark p-4" id="myNavbar">
    <!-- <div class="container-fluid"> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item ps-4">
                <a class="nav-link text-light" routerLink="">Home</a>
            </li>
            <li class="nav-item ps-4">
                <a class="nav-link text-light" [routerLink]="['about']">About</a>
            </li>
            <li class="nav-item ps-4">
                <a class="nav-link text-light" href="#">Featured</a>
            </li>
            <li class="nav-item ps-4">
                <a class="nav-link text-light">Blog</a>
            </li>
            <li class="nav-item ps-4">
                <a class="nav-link text-light">Contact</a>
            </li>
            <div class="btn-group align-self-center ps-4 pointer" role="group">
                <div class="px-3">
                    <a href="https://www.linkedin.com/in/ahamed-fysal-m-b6a1061b8" target="_blank"> <img
                            src="../../assets/svgs/linkedin.svg" alt="linkedin"> </a>
                </div>
                <div class="px-3">
                    <a href=""><img src="../../assets/svgs/twitter.svg" alt="twitter"></a>
                </div>
                <div class="px-3">
                    <a href=""><img src="../../assets/svgs/instagram.svg" alt="twitter"></a>
                </div>
            </div>
        </ul>
        <div class="text-right p-2" (click)="themeToggle()">
            <div *ngIf="current.theme === 'light'">
                <img src="../assets/svgs/moon-fill.svg" class="align-text-top pointer" alt="">
            </div>
            <div *ngIf="current.theme === 'dark'">
                <img src="../assets/svgs/moon.svg" class="align-text-top pointer" alt="">
            </div>
        </div>
    </div>
    <!-- </div> -->
</nav>
<div class="px-3 text-white text-end">
    <b class="me-0">{{date | utc: timezone}}</b>
</div>
<router-outlet></router-outlet>