<!-- <div class="container-fluid p-0"> -->
<div class="card border-0" [ngClass]="current.theme === 'light' ? 'bg-dark text-light' : 'bg-light text-dark'">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="lh-lg">
                    <div class="display-2 fw-bold mt-4 text-center">UI</div>
                    <br>
                    As an experienced developer, I have a strong command over HTML, <br>
                    CSS, Bootstrap. These technologies form the foundation of modern <br>
                    web development, and I have honed my skills in these areas through <br>
                    practical application and hands-on experience.
                </div>
            </div>
            <div class="col-sm-12 col-md-4  col-lg-4 d-flex justify-content-center">
                <ngx-image-comparison-slider [imageFit]="'cover'" [maxHeight]="500" [maxWidth]="500" [leftBorder]="0"
                    [rightBorder]="0" [sliderWidth]="4" src1="../../assets/images/UIimage.jpg"
                    src2="../../assets/images/uximage.jpg" style="object-fit: contain;">
                </ngx-image-comparison-slider>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="lh-lg">
                    <div class="display-2 fw-bold mt-4 text-center">UX
                    </div> <br>
                    I am a skilled developer with expertise in Angular, JavaScript, and SQL. <br>
                    These technologies form the core of modern web development and data <br>
                    management, and I have extensive experience applying them in various projects. <br>

                    I stay updated with the latest advancements in Angular, JavaScript, and SQL, <br>
                    continuously learning and exploring new features and tools. I have a strong <br>
                    problem-solving mindset and can efficiently analyze requirements to deliver <br>
                    scalable and robust solutions.
                </div>
            </div>
        </div>
        <!-- <div class="row">
                <div class="col-sm-12 col-md-4">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe inventore impedit incidunt
                    excepturi, aliquid, nulla reiciendis illum cupiditate, illo officiis perferendis. Odio consequuntur
                    pariatur excepturi commodi praesentium totam delectus numquam?
                </div>
                <div class="col-sm-12 col-md-4">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium sit corporis architecto unde,
                    vel vitae cumque laborum consectetur soluta earum, aspernatur minus excepturi dolor, voluptate
                    officia rerum. Esse, mollitia sint.
                </div>
                <div class="col-sm-12 col-md-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit modi dolorem eaque nisi, impedit
                    dicta assumenda ipsa tempora ex pariatur veritatis qui esse, dolore, error accusantium non amet odio
                    nulla?
                </div>
            </div> -->
    </div>
</div>
<!-- </div> -->
<!-- <p class="display-2 fw-bold text-center mt-4">Project</p> <br>
<div class="row mb-3">
    <div class="col-4 col-sm-4 col-lg-4 col-md-4 ">

    </div>
    <div class="col-4 col-sm-4 col-lg-4 col-md-4">
        <img src="../../assets/images/cleared4.png" width="500" alt="">
    </div> -->

<!-- </div> -->
<!-- </div>  -->
<!-- </div> -->
<!-- <div class="col-4 col-sm-4 col-lg-4 col-md-4">

</div>
</div> -->